body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
nav{
    justify-content: end;
}
#navbarNav{
    justify-content: end;
}
/* f6f3ee */

.forms{
    display: flex;
}
.task_approve{    
    background-color: #ffffff;
    color: #3a4750;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.task_review{
    background-color: #ffffff;
    color: #3a4750;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500; 
}
.status-button-1{
    background-color: #ffffff;
    color: #3a4750;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}
.status-button-0{
    background-color: #3a4750;
    color: #ffffff;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}


.task_approve:hover{    
    background-color: #3a4750;
    color: #ffffff;
    border: solid 2px #3a4750;
}

.task_review:hover{    
    background-color: #3a4750;
    color: #ffffff;
    border: solid 2px #3a4750;
}
.status-button-1:hover{    
    background-color: #3a4750;
    color: #ffffff;
    border: solid 2px #3a4750;
}
.status-button-0:hover{    
    background-color: #ffffff;
    color: #3a4750;
    border: solid 2px #3a4750;
}
/* 3a4750 */

a{
    text-decoration: none;
    letter-spacing: 1px;
}
a:hover{
    color: #f6c90e;
    font-weight: 600;
}
.nav-anchor{
    padding-right: 8px;
    padding-left: 8px;
}
li{
    margin-bottom: 10px;
    list-style-type: none;
}


.review-button:hover{
    cursor: pointer;

}
li:hover{
    cursor: pointer;
    font-weight:600 ;
    /* color: #f6c90e; */
}
.navbar{
    background-color: #3a4750; 
}
.navbar a{
    color: #f6f3ee;
}
#nav_brand{
    color: #eeeeee;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 5px;
}
#nav_brand:hover{
    font-weight: 600;
}
.sidebar{
    /* width: 80%; */
    padding-left: 2.5%;
    padding-right:2.5%;
    padding-top: 5% ;
    background-color: #eeeeee;
    min-height: 87vh;
    color: #3a4750;
}

.buttons{
    background-color: #3a4750;
    color: #f6f3ee;
    border: none;
    padding: 5px 10px;
}

.buttons:hover{
    color: #f6c90e;
}

.navbar-toggler{
    background-color: #eeeeee;
}

#register_page{
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border: solid #eeeeee 1px;
    border-radius: 2px;
    margin-bottom: 10px;
}
table{
    border: none;
}
tbody tr{
    border: solid 1px #eeeeee;
    border-radius: 5px;
}
td{
    /* display: flex; 
    flex-direction: column;
    justify-content: space-around;   */
    border: solid 2px #eeeeee;
    text-align: right;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 40px; 
}

.date-field{
    padding-left: 10px;
}

thead tr{
    background-color: #3a4750;
    color: #eeeeee;
    font-weight: 300;
}

.task-table{
    margin-top: 20px;
    max-height: 87vh;
    overflow: scroll;
}
/* table{
    border: solid 1px;
} */
th{
    padding-left: 20px;
    text-align: right;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#task-table{
    display: block;
    margin-top: 40px;
    width: fit-content;
}

.approved-task{
    color: green;
}

#alert{
    margin-top: 40px;
}
section{
    width: fit-content;
    display: inline;
}
p{
    display: inline;
}

#create-task-form input{
    width: 100%; 
}

#register_page input{
    width: 100%; 
}

.emp-btn{
   min-width: 105px;
}

/* #task-cont{
    width: fit-content;
} */

.time-header{
    width: 120px;
}
.dropdown{
    display:none;
}
/* #employee{
    display: none;

} */
@media only screen and (max-width: 400px) {
   .sidebar{
       min-height:unset;
   }
   .task-table{
       max-height: 70vh;
   }
   .employee-list{
       display: none;
   }
   .dropdown{
       display: block;
   }
   
  }

